.cabecalho {
    background-color: #013a3b;
    padding: 20px 60px;
}

.cabecalho a {
    color: #000000;
    padding: 12px;
    line-height: 25px;
}

.cabecalho a:hover {
    background-color: #1db784;
    color: #000000;
}

.informacao {
    cursor: help;
}

.footer {
    text-align: center;
}

.cabecalho a.ativo {
    background-color: #00ced1b9;
    color: #000000;
}

.cabecalho-direita {
    float: right;
}

body {
    background-color: #ffffff;
    color: #000000;
    margin-right: 50px;
    margin-left: 50px;
}

.titulo-popover {
    margin-top: 15px;
    text-align: center
}

.popover-aberto {
    text-align: justify;
}

.popover {
    min-width: 500px;
}

.imagem-popover {
    height: 100%;
    width: 100%;
}

.titulo {
    text-align: center;
}

.curso-imagem {
    width: 250px;
    margin: 20px;
}

h2 {
    font-size: 25px;
    margin: 10px;
}

.curso {
    background: #b4c8d8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.valor-curso {
    font-size: 25px;
    margin: 10px;
    padding: 20px;
    background: #bddbf4;
    border-color: black;
}